*{
    padding:0;
    margin: 0;
}
.mapPage {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
.mapSet{
    width: 50vw;
    height: 100%;
    box-shadow: 5px 5px 5px gray;
}
.textBox{
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}
