* {
    padding: 0;
    margin: 0;
}
ul {

    list-style: none;
}
a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

/**/
.scrollPageContainer{
    width: 80vw;
    height: 60vh;
    margin:auto;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    z-index: -1;
}
.scrollPic{
    width: 400vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.logoPic {
    display: flex;
    position: relative;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(184, 178, 178, 0.6);
    width: 30vw;
    height: 60vh;
    z-index: 100;
}
.scrollPic li {
    width: 80vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 3s;
    background-size: cover;
    background-position: center center;
}
/*content*/
.introPage {
    width: 80vw;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.aboutusBar {
    width: 100%;
    height: 30px;
    margin: 30px 0px;
    background-image: url("../images/aboutus-red.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.leftIntro {
    width: 100%;
    height: 40vh;
    margin: 30px 0px;
    border-left:5px solid rgb(27,91,152);
    border-top: 1px solid rgb(27,91,152);
    border-radius: 5px 5px 0px 0px;
    box-shadow: -3px -3px 5px gray;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
}
.rightIntro {
    width: 100%;
    height: 40vh;
    margin: 30px 0px;
    border-right: 5px solid rgb(27,91,152);
    border-bottom: 1px solid rgb(27,91,152);
    border-radius: 5px 5px 0px 0px;
    box-shadow: 3px 3px 5px gray;
    display: flex;
    justify-content: flex-end;
}
.order{
    order: -1;
}
.introPage p {
    display: inline-block;
    width: 30%;
    padding-top: 15vh;
    font-size: 16px;
    margin:0 10vw;
    text-align: center;
}
.endBar{
    margin-top: 30px;
    width: 100vw;
    height: 300px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px -5px 5px gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.endBar p{
    width: 30vw;
    font-size: 12px;
    line-height: 30px;
}
.endBar p:first-child {
    width: 15vw;
}